:root {
    --primary: rgb(30, 31, 34);
    --secondary: #2e96eb;
    --content: rgba(77, 89, 107, 0.411);
}

body {
    background-color: rgb(46, 46, 46);
    color: white;
}

.primary-bg {
    background: var(--primary);
}

.secondary-bg {
    background: var(--secondary);
}

.navbar-filled {
    background: var(--primary);
}

.content-section {
    background-color: var(--content);
}

#countdown {
    background-color: var(--content);
}

.card-body:hover {
    border-color: var(--secondary);
    color: var(--secondary);
}


.faq-question {
    background-color: var(--content);
}

/*
From HackClub CSS :D
https://css-theme.hackclub.dev/ 
*/

.button-fill {
    background-color: var(--secondary);
}

.button-fill:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}