@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: bold;
}

.anchor {
    top: -120px;
    position: relative;
    display: block;
    visibility: hidden;
}

.primary-bg {
    background: #5eb0f3;
}

.secondary-bg {
    background: #bcd2e1;
}

.tertiary-bg {
    background: #ffcc3d;
}

.spacer {
    margin-bottom: 2000px;
}

#landing-img {
    width: 100%;
}