body {
    font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}


@media only screen and (max-width: 600px) {

    #about-section {
        flex-direction: column;
    }

}

#home-top {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("resources/landing_image.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#top-logo {
    position: absolute;
    width: 40%;
}

#about-section {
    display: flex;
}

#footer {
    height: 50px; /* just for testing */
}

.navbar-filled {
    background: #5eb0f3;
    transition: background .5s;
}

.navbar-transparent {
    background: none;
    transition: background .5s;
}

li .nav-link {
    padding: 15px !important;
}

li .nav-link.active {
    color:#0a90fd !important;
    background-color:rgb(255, 255, 255) !important;
}

.anchor {
    top: -120px;
    position: relative;
    display: block;
    visibility: hidden;
}

.primary-bg {
    background: #5eb0f3;
}

.secondary-bg {
    background: #bcd2e1;
}

.tertiary-bg {
    background: #ffcc3d;
}

.spacer {
    margin-bottom: 2000px;
}

.content-section {
    margin: 2em;
}

.content-section p {
    margin-top: 10px;
    font-size: 18px;
}

/* From HackClub CSS :D */
/* https://css-theme.hackclub.dev/ */

.button-fill {
    color: white;
    font-size: 1rem;
    background-color: #5eb0f3;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 30px;
    font-weight: 900;
  }