@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: bold;
}

.primary-bg {
    background: #51aaf3;
}

.secondary-bg {
    background: #bcd2e1;
}

.tertiary-bg {
    background: #ffcc3d;
}

#landing-img {
    margin-top: 70px;
    width: 100%;
}